.select_container {
  position: relative;
  width: 100%;
}

.custom_select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  height: 40px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 8px;
  border:
    var(--STROKE-1),
    1px solid;
  cursor: pointer;
  overflow: hidden;
  color: var(--TEXT-PRIMARY);
  text-overflow: ellipsis;

  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  background: var(--WHITE);
}

.arrow_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 20px;
  height: 20px;
  background: var(--WHITE);
}

.custom_select:focus {
  outline: none;
}
