.signIn_container {
  width: calc(100% - 16px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 16px;
}

.singIn_img {
  width: 247.824px;
  height: 52px;
  margin-bottom: 60px;
}

.singIn_input_title {
  color: var(--TEXT-PRIMARY);
  margin-bottom: 28px;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  align-self: flex-start;
  padding-left: 16px;
}

.singIn_input_text {
  color: var(--TEXT-PRIMARY);
  font-size: 14px;
  font-weight: 400;
  line-height: 124.5%;
  white-space: nowrap;
  height: 40px;
  width: 90%;
  padding: 16px 0px;
  cursor: pointer;
}

.singIn_input_text:hover {
  text-decoration: underline;
}
