.container_days {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.days_container {
  display: flex;
  gap: 8px;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 48px;
  gap: 2px;
  border-radius: 8px;

  background: #f6f6f6;
  color: #1e1e1e;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  cursor: pointer;
}

.day.selected {
  border: 2px solid #035e67;
  color: #035e67;
}
