.filteredList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 16px;
}

.filteredItem {
  width: 100%;
  height: 100%;
  gap: 16px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.filteredItem p {
  color: #000;
  font-size: var(--TITLE);
  font-weight: 700;
  line-height: 150%;
}

.filteredItem img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
