.nav_search_container {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
}

.nav_search_container button {
    width: 4rem;
    height: 1.9rem;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: large;
    gap: 0.5rem;
    margin: 0.5rem 0.5rem;
}