* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--WHITE);
}

:root {
  /* Colors */
  --PRIMARY: #085259;
  --PRIMARY-LIGHT: #eefffe;
  --HIPERLINK: #082959;
  --WARNING: #f5ac05;
  --DANGER: #d30303;
  --WHITE: #f6f6f6;
  --BLACK: #1e1e1e;

  /* Text Colors */
  --TEXT-PRIMARY: #1e1e1e;
  --TEXT-SECONDARY: #5d5d5d;
  --TEXT-TERTIARY: #888888;

  /* Outlines */
  --CONTAINER: #f6f6f9;
  --STROKE-1: #b6b6b6;
  --STROKE-2: #5c5c5c;
  --LABEL-ICONS: #727272;
  --DISABLE: #d6d6d6;

  /* Icons */
  --ICON-PRIMARY: #1e1e1e;
  --ICON-SECONDARY: #5d5d5d;
  --ICON-TERTIARY: #888888;

  /* Text Sizes */
  --PAGE-TITLE: 32px;
  --GROUP-NAME: 24px;
  --TITLE: 16px;
  --BODY: 14px;
  --HIPERLINK-TEXT: 14px;
  --LABEL: 14px;
  --LABEL-SMALL: 12px;
  --HELPER: 12px;
}
