.btn_white {
  width: 358px;
  height: 51px;
  margin-top: 16px;

  border-radius: 8px;
  border: none;
  background: var(--CONTAINER);

  font-size: var(--TITLE);
  font-weight: 600;
  color: var(--TEXT-PRIMARY);
  cursor: pointer;
}

.btn_white:hover {
  opacity: 0.95;
}
