.rectangle_group_container {
  width: 98%;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin: 16px 0;
}

.rectangle_search_container {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 6.25rem;
}

.rectangle_group_img_container {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 15px 15px;
}

.rectangle_search_img_container {
  border-radius: 100%;
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
}

.rectangle_group_img_container img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px;
  object-fit: cover;
}

.rectangle_search_img_container img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  height: 3.5rem;
  width: 3.5rem;
}

.rectangle_group_text_container {
  width: 70%;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 16px;
}

.rectangle_search_text_container {
  width: 100%;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem 0 1rem 1.4rem ;
}

.rectangle_search_text_container span {
  width: 1px;
  height: 1px;
}

.rectangle_group_title_container {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  color: VAR(--TEXT-PRIMARY);
}

.rectangle_group_title_container h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 2rem);
  font-size: 18px;
}

.tooltip {
  position: absolute;
  transform: translatex(-50%);
  transform: translatey(-100%);
  padding: 3px 6px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5px;
  font-size: 0.7rem;
}

.rectangle_search_title_container {
  font-size: 0.8rem;
  font-weight: 700;
  width: 6.4rem;
}

#search_group_btn {
  width: 9rem;
  height: 2.5rem;
}

#search_user_btn {
  width: 5.7rem;
  height: 2rem;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid var(--TEXT-PRIMARY);
  align-items: center;
  justify-content: center;
}

.rectangle_group_title_container img {
  width: 2rem;
  height: 2rem;
}

.rectangle_group_infos_container {
  width: 100%;
  height: 3.38rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

.rectangle_search_infos_container {
  height: 1px;
}

.rectangle_group_infos_members_container {
  width: 9.25rem;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.rectangle_group_infos_members_container img {
  width: 1.5rem;
  height: 1.5rem;
}

.rectangle_group_infos_events_container {
  width: 6rem;
  height: 3.38rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.rectangle_group_infos_events_bulletpoint_container {
  color: var(--PRIMARY);
  font-size: 2.1rem;
  margin-bottom: 0.3rem;
}

.rectangle_group_container_add_group {
  width: 98%;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  margin: 16px 0;
  align-items: center;
}

.rectangle_group_container_add_group_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 6.25rem;
  background-color: var(--PRIMARY);
  color: var(--WHITE);
  font-size: 2rem;
  margin-right: 16px;
  border-radius: 15px 15px;
}

.rectangle_group_title_add_group {
  width: 70%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
}

.joinButton {
  width: 125px;
  cursor: pointer;
  display: flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: var(--Small, 8px);
  background: var(--Primary, #085259);
  color: var(--WHITE);
  font-weight: 600;
}

.joinButton p {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  background: var(--Primary, #085259);
}


.joinButton_joined {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  border-radius: var(--Small, 8px);
  background-color: #e7e7e7;
  width: 125px;
}

.joinButton_joined p {
  font-size: 12px;
  background-color: #e7e7e7;
  font-weight: 600;
}

.joinButton_joined img {
  width: 14px;
  background-color: #e7e7e7;
  height: auto;
}

.followUserBtn {
  border-radius: var(--Small, 8px);
  font-size: 12px;
  display: flex;
  gap: 5px;
  padding: 5px 10px;
}

.followUserBtn img {
  height: auto;
  width: 24px;
}

/* .rectangle_is_user_container {
  width: 7rem;
  height: 3.38rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 700;
  color: black;
  align-items: center;
}

.rectangle_is_user_btn {
  width: 8.5rem;
  height: 3.38rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 700;
  color: black;
  align-items: center;
}

.rectangle_is_user_container button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 10rem;
  margin-left: 0.5rem;
}

#is_search_img img{
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;

} */
